// fonts
$heading-font: 'Cormorant Garamond', serif;
$content-font:  'Linden Hill', serif;

// font sizes
$xsmall-size: 1.5rem;
$small-size: 1.8rem;
$small-medium: 2rem;
$medium-size: 3rem;
$medium-large: 5rem;
$large-size: 7rem;
$xlarge-size: 14rem;

// colours
$white-color: #fff;
$black-color: #000;


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scrollbar-width: thin;
    scrollbar-color: $white-color transparent;
}

// scrollbar change
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: $black-color;
    border-radius: 10px;
}

html {
    font-size: 62.5%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: #2b3a41;
    font-family: $content-font;
    color: #5f6368;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
}

.main {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7vh 93vh max-content max-content 40vh 60vh;

    @media screen and (max-width: 900px) and (max-height: 500px) {
        grid-template-rows: 7vh 93vh max-content max-content 50vh 100vh;
    }

    @media screen and (max-width: 500px) and (max-height: 900px) {
        grid-template-rows: 7vh 93vh max-content max-content 60vh 100vh;
    }

    @media screen and (max-width: 360px) and (max-height: 650px) {
        grid-template-rows: 7vh 93vh max-content max-content 50vh 100vh;
    }
}

.error__page {
    height: 100vh;
    position: relative;
    background-color: #fff;
}

.error__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 750px) {
        width: 100%;
    }

    @media screen and (max-width: 1000px) and (max-height: 500px) {
        width: 100%;
    }
}

.error__heading {
    text-align: center;
    padding-bottom: 2rem;
    color:  #404040;
    font-size: 3.2rem;
}

.error__message {
    text-align: center;
    padding-bottom: 2rem;
    color:  #404040;
    font-size: 2.2rem;

    @media screen and (max-width: 700px) {
        font-size: 1.8rem;
    }
}

.browsers {
    width: 100%;
    float: left;
    margin-left: 20%;

    @media screen and (max-width: 1000px) {
        margin-left: 15%;
    }

    @media screen and (max-width: 750px) {
        margin-left: 20%;
    }

    @media screen and (max-width: 500px) {
        margin-left: 15%;
    }

    @media screen and (max-width: 400px) {
        margin-left: 5%;
    }
}

.browser__container {
    float: left;
    padding: 2rem;
}

.browser__container h2 {
    text-align: center;
    color:  #404040;
    font-size: 1.8rem;
}

.browser__container img {
    width: 100px;
    height: 100px;

    @media screen and (max-width: 800px) {
       width: 80px;
       height: 80px;
    }
}
