.projects {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    background: #FFF;


    &__title {
        font-size: 14rem;
        color: #b9cbd0; 
        font-family: $heading-font;
        text-align: center;
        padding: 3rem 0 7rem 0;
        font-weight: 300;
        font-style: italic;

        @media screen and (max-width: 1280px) {
            font-size: 12rem;
        }

        @media screen and (max-width: 800px) and (max-height: 450px) {
            font-size: 8rem;
        }

        @media screen and (max-width: 700px) {
            font-size: 8rem;
        }
        @media screen and (max-width: 450px) {
            font-size: 10rem;
        }
    }
}

.canvas {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
    justify-self: end;
    align-self: end;

    @media screen and (max-width: 1000px) {
        align-self: center;
    }

    

    &__image {
        width: 800px;
        height: 500px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @media screen and (max-width: 1700px) {
            width: 650px;
            height: 380px;
        }

        @media screen and (max-width: 1440px) {
            width: 550px;
            height: 320px;
        }

        @media screen and (max-width: 1336px) {
            width: 500px;
            height: 280px;
        }

        @media screen and (max-width: 600px) {
            width: 400px;
            height: 250px;
        }

        @media screen and (max-width: 450px) {
            width: 340px;
            height: 220px;
        }

        @media screen and (max-width: 370px) {
            width: 320px;
            height: 210px;
        }
    }

}

.project {
    grid-column: 2 / 3;
    grid-row: 1/ 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
    grid-gap: 2rem;

    @media screen and (max-width: 1000px) {
        grid-gap: 1rem;
    }


    &__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        margin-bottom: 20rem;
        grid-gap: 5rem;


        @media screen and (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        @media screen and (max-width: 500px) {
           margin-bottom: 10rem;
        }
       
    }

    &__heading {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        padding-top: 2rem;
        font-family: $heading-font;
        font-weight: bold;
        color: rgb(58, 58, 58);

        @media screen and (max-width: 1000px) {
            justify-self: center;
        }
    }

    &__number {
        font-size: 3rem;
        font-style: italic;

        span {
            color: #F27052;
            font-size: $small-medium;
        }

        @media screen and (max-width: 1336px) {
            font-size: 2.5rem;
        }

        @media screen and (max-width: 1220px) {
            font-size: 2rem;
        }
    }

    &__description {
        font-size: 2.7rem;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        align-self: center;
        width: 70%;

        span {
            font-style: italic;
            text-decoration: underline;
            cursor: pointer;
        }

        @media screen and (max-width: 1700px) {
            font-size: 2.2rem;
        }

        @media screen and (max-width: 1336px) {
            font-size: 2rem;
        }

        @media screen and (max-width: 1220px) {
            font-size: 1.8rem;
        }

        @media screen and (max-width: 1000px) {
            justify-self: center;
        }

        @media screen and (max-width: 500px) {
            width: 85%;
        }
    }

    &__info {
        @include linkLight;
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        font-size: 2rem;
        font-weight: normal;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        &--repo a {
            margin-right: 4rem;
        }

        @media screen and (max-width: 1220px) {
            font-size: 1.8rem;
        }

        @media screen and (max-width: 1000px) {
            justify-self: center;
        }
    }

}

// popup window

#popup {
    color: #F27052;
}

.popup {
    &__window {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        display: none;
        background-color: rgba(#fff, .7);

        @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color: rgba(#000, .2);
        }
    }

    &__content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 600px;
        width: 1000px;
        background-color: #f2f2f2;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        place-items: center;

        @media screen and (max-width: 1000px) {
            height: 450px;
            width: 700px;    
        }

        @media screen and (max-width: 700px) {
            height: 80%;
            width: 80%;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: 1.8rem;
    }

    &__log {
        font-style: italic;
        font-size: 1.8rem;
        color: #F27052;
        padding-left: 1rem;
    }

    &__close {
        position: absolute;
        right: 3%;
        top: 3%;
        font-size: 4rem;
        cursor: pointer;

        &:hover, &:active {
            color: #F27052;
        }
    }

    &__img {
        width: 100%;
        height: 299px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); 

        @media screen and (max-width: 1000px) {
            height: 220px;
        }

        @media screen and (max-width: 700px) {
            height: 80%;
            width: 80%;
        }
    }

    &__img1 {
        grid-row: 1/ 2;
        grid-column: 1 / 2;
        @media screen and (max-width: 1000px) {
            display: none;
        }
    }

    &__img2 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        @media screen and (max-width: 1000px) {
            display: none;
        }
    }

    &__right {
        padding: 3rem 5rem;
        grid-row: 1 / -1;
        grid-column: 2 / 3;

        @media screen and (max-width: 1000px) {
            grid-row: 1 / -1;
            grid-column: 1 / -1;
        }

        h2 {
            text-transform: uppercase;
            text-align: center;
            padding: 1rem 0;
            font-size: 2rem;
        }

        p {
            padding: 1rem 0;
            font-size: 2rem;
            text-align: center;

            @media screen and (max-width:700px) {
                padding: 0;
            }

            @media screen and (max-width:530px) {
                font-size: 1.8rem;
            }
        }
    }
}
